body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

form {
  background: #fff;
  padding: 20px;
  width: 300px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
